/* עיצוב כללי לדף */
.project-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* ממלא את כל גובה המסך פרט לגובה ה-Navbar */
  padding: 20px;
  align-items: center; /* מרכז את התוכן באופן אופקי */
  justify-content: space-between; /* מוודא שהתוכן יימתח וימקם את האלמנטים בצמוד לראש ולתחתית */
}

/* עיצוב כותרת */
.title {
  color: green;
  text-align: center; /* מרכז את הכותרת */
}

/* עיצוב כפתור ה-NavLink */
.create-button {
  padding: 10px;
  font-size: 16px;
  background-color: green;
  color: white;
  text-decoration: none; /* מסיר את הקו התחתון */
  border: none;
  cursor: pointer;
  text-align: center;
  width: 30%;
  border-radius: 5px;
  margin-top: 20px; /* הוספת רווח למעלה כדי לדחוף את הכפתור למטה */
}

.create-button:hover {
  background-color: brown;
}       
