
   .App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .sidebar {
    width: 30%;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    
  }
  
  .workspace {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #e6ffe6;
    overflow: hidden;
  }
  
  .grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50px 50px; /* גודל רשת */
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
      linear-gradient(to bottom, #ccc 1px, transparent 1px);
  }
  
  .item {
    background-color: #d1e7dd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .draggable-item {
    position: absolute;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    cursor: move;
  }
  
  .resizer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    cursor: nwse-resize;
  }
  
  .coordinates {
    margin-top: 20px;
    text-align: left;
  }
  