body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../../componets/landing page/src/assest/back.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}