.App {
    text-align: center;
  }
  
  .topButtons {
    border: none;  
    padding: 10px 20px; 
    background-color: green;  
    color: white; 
    cursor: pointer; 
    font-size: 16px;
    margin-left: 10px;
  }
  .button-text-image {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* padding: 10px; */
    background-color: white;
    color: green;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  .button-text-image:hover {
    background-color: gray; /* Optional: Change color on hover */
  }
  .button-text-image .button-icon{
    width: 75x;
    height: 75px;
    margin-top: 0px;
  }
  .button-text-image .button-main{
    font-size: 20px;
    font-weight: bold;
  }
  .button-text-image .button-sec{
    font-size: 16px;
    margin-top: 5px;
  }
  .center-container {
    display: flex;
    margin-top: 10px;
    justify-content: center; /* Center horizontally */
  }
  .bar {
    background-color: green;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }